/*************************************************
    MAIN UTILITIES
 *************************************************/
 :root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-body);
}

 .wrapper{
    width: 100%;
    height: 100vh;
}

aside ul li, header ul li{ 
    margin-left: -2.05rem;
    list-style:none;
    cursor: pointer;
}

aside li:hover{
    transform: scale(1.2);
}
.bln-3 .fa-solid.fa-plus:hover{
    transform: scale(1.2);
}
.my-darkblue{
    background-color: var(--color-side-bar);
}

/*************************************************
    HEADER
 *************************************************/

header{
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    box-shadow: 5px 5px 10px #383838;
}

nav img:first-child{
    width: 70px;
    margin-left: 0.6rem;
}
.mr-sm-2{
    background-color: rgba(112, 112, 112, 0.5)
}



/*************************************************
    MAIN
 *************************************************/
main{
    padding-top: 70px;
    width: 100%;
    height: 100vh;
}
/*******
    ASIDE
        ******/
aside{
    overflow: hidden;
    flex-shrink: 0;
    height: 100%;
    background-color: #0f263d;
    background-image: url(../img/sidebar-bg.png);
}

aside i{
    display: inline-block;
    min-width: 30px;
    height: 30px;
    text-align: center;
    vertical-align:auto;
}
aside span{
    vertical-align: top;
}

/******* MAIN CONTENT ******/


.circle-icon{
        border:1px solid #ccc;
        vertical-align: sub;
        width:35px;
        height:35px;      
        border-radius: 50%;
        background-color: #f26551; 
        padding: 7px;
        color: white;
}

#classi .end-icon i{
    cursor: pointer;
    border: 1px solid #6c757d;
}

.accordion-item{
    border: 0px;
}

.main-content{
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
}

/*******
    TOPBAR
        ******/
.topbar{
    background-color: var(--color-nav-bar);
    width: 100%;
}

/*************************************************
    MEDIA QUERY
 *************************************************/
 @media screen and (min-width: 768px){
    .offcanvas{
        width: 75% !important;
    }
 }

 @media screen and (min-width: 992px){
    aside ul{
        font-size: 0.6em;
        margin-right: 2rem;
    }
    .offcanvas{
        width: 50% !important;
    }

    header ul li:last-child{
        font-size: 1em !important;
    }

    .bln-1{
        order: 0;
    }
    .bln-2{
        order: 1;
    }
    .bln-3{
        order: 3;
    }

 }